<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"> <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Welcome to <%= title %>!</h1>
  <h2>My name is Jazper Garcia</h2>
  <h2>WD-201</h2>
</body>
</html>
