<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"> <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Welcome to <%= title %>!</h1>
  <h2>Name: Jazper Garcia</h2>
  <h2>Phone Number: 0999 111 1111</h2>
  <h2>Skills:</h2>
  <ul>
    <ol>Python</ol>
    <ol>Java</ol>
    <ol>CSS</ol>
    <ol>HTML</ol>
  </ul>
</body>
</html>
